<h1>Create Person</h1>

<%= form_for(person, {action: "/people", method: "POST"}) { %>
  <%= f.InputTag("Name") %>
  <%= f.InputTag("JobTitle") %>
  <%= f.TextArea("Address.Street", {value: person.Address.Street, label: "Street"}) %>
  <%= f.InputTag("Address.City", {value: person.Address.City, label: "City"}) %>
  <%= f.InputTag("Address.State", {value: person.Address.State, label: "State"}) %>
  <%= f.InputTag("Address.PostalCode", {value: person.Address.PostalCode, label: "PostalCode"}) %>
  <button class="btn btn-success" type="submit">Save</button>
<% } %>
